body{
  background: rgb(35,35,35);
  margin: 0;
  font-family: sans-serif;
}
.square{
  width:30%;
  padding-bottom: 30%;
  background: purple;
  float: left;
  margin: 1.66%;
  border-radius: 50%;
  transition: background-color 0.3s;
}
#container{
  margin: 0 auto;
  max-width: 600px;
}
h1{
  color: white;
  background-color: steelblue;
  margin: 0;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
}
.img{

}
.message{

  width: 20%;
  display: inline-block;
}
#colorDisplay{
  font-size: 200%;
}
.stripe{
  background-color: white;
  height: 30px;
  text-align: center;
  color: black;
}
.selected{
  color: white;
  background: steelblue;
}
button{
  border: none;
  background: none;
  text-transform: uppercase;
  color: steelblue;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: inherit;
  height: 100%;
  transition: all .5s;
  outline: none;
  cursor: pointer;
}
button:hover{
  color: white;
  background: steelblue;
}
